// COLORS

$background: rgb(255, 255, 255);
$text: #1B9AAA;
$start: #06D6A0;
$pause: #EF476F;


// STYLES

$border-radius: 15px;


// TRANSITIONS

$fast-transition: 100ms all ease-in-out;