@import 'mixins';
@import 'variables';

.background {
	--opacity: 0;
	opacity: var(--opacity);
	background: map-get($color, disabled);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: map-get($z-index, background);
	transition: 1s all ease-in-out;
	animation: gradient-border 10s ease-in alternate infinite;
	background: linear-gradient(80deg, map-get($color, text), lighten(map-get($color, text), 40%), darken(map-get($color, text), 20%));
	background-size: 300% 200%;
	transition: map-get($transition, medium);
}