@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: $text;
  background: $background;
  font-family: 'Nixie One', 'sans-serif';
  font-size: 1rem;
  line-height: 1.5;
  height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  align-items: center;
  justify-items: center;

  &__input {
    input {
      color: $text;
      font-size: 2rem;
      width: 100%;
      border: 0;
    }

    label {
      display: block;
    }
  }
}

.title {
  grid-row: 1;
  grid-column: 1;
  font-size: 3rem;
}

.timer {
  grid-row: 2;
  grid-column: 1;

  &__display {
    font-size: 15rem;
  }
}

.signature {
  grid-row: 3;
  grid-column: 1;
}

.session {
  grid-row: 1;
  grid-column: 2;
}

.playback {
  grid-row: 2;
  grid-column: 2;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 4rem;
    width: 8rem;
    padding: 1rem;
    border: none;
    outline: 0;
    border-radius: $border-radius;
    
    &-flow {
			margin-bottom: 1rem;
			color: $background;
			transition: $fast-transition;
			
			&--start {
				background: $start;

				&:hover {
					background: darken($start, 5%);
				}
			}

			&--pause {
				background: $pause;

				&:hover {
					background: darken($pause, 5%);
				}
			}
    }

    &-reset {
			color: $text;
			background: $background;
			transition: $fast-transition;

			&:hover {
				color: darken($text, 5%);
			}

			&--disabled {
				cursor: not-allowed;
				color: lightgray; // TODO: add disabled to colors list

				&:hover {
					color: lightgray;
				}
			}
    }
  }
}

.break {
  grid-row: 3;
  grid-column: 2;
}