@import 'mixins';
@import 'variables';

html {
	box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  color: map-get($color, text);
  background: map-get($color, background);
  font-family: $sans-serif;
	font-size: 3rem;
	font-weight: 300;
  line-height: 1;
  height: 100vh;
	position: relative;
	overflow: hidden;
}

.background {
	--opacity: 0;
	opacity: var(--opacity);
	background: map-get($color, disabled);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: map-get($z-index, background);
	transition: 1s all ease-in-out;
	animation: gradient-border 10s ease-in alternate infinite;
	background: linear-gradient(80deg, map-get($color, text), lighten(map-get($color, text), 40%), darken(map-get($color, text), 20%));
	background-size: 300% 200%;
	transition: map-get($transition, medium);
}

.panel {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: map-get($z-index, panel);
	transition: map-get($transition, medium);
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0.25;
	border: $border-width solid map-get($color, text);
	background: map-get($color, text);
	color: map-get($color, background);

	&--open {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	&__content {
		margin: 0 auto;
		width: 70%;
		max-width: 1050px;
		opacity: 0;
		transition: map-get($transition, fast);

		&--visible {
			opacity: 1;
		}
	}

	&__icon {
		@include icon;
	}
}

.app {
	display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 2fr 1fr;
  align-items: center;
	justify-items: center;
	position: absolute;
	background: map-get($color, background);
	top: $border-width;
	left: $border-width;
	width: calc(100vw - (#{$border-width} * 2));
	height: calc(100vh - (#{$border-width} * 2));
	transform-origin: center;
	transition: map-get($transition, medium);

	&::after {
		content: '';
		background: map-get($color, disabled);
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: map-get($z-index, gradient-layer);
		transition: 1s all ease-in-out;
	}

	&__open-panel,
	&__close-panel {
		cursor: pointer;
	}
	
	&__icon {
		@include icon;
	}

	&__signature {
		position: absolute;
		z-index: map-get($z-index, signature);
		writing-mode: vertical-lr;
		left: $edge-spacing;
		bottom: $edge-spacing;
		font-size: 2rem;
		color: rgba(map-get($color, text), 0.5);
		transition: map-get($transition, fast);
		text-decoration: none;

		&:hover {
			color: map-get($color, text);
		}
	}

  &__input {
    input {
			color: map-get($color, text);
			font-family: $monospace;
      font-size: 5rem;
      width: 100%;
			border: 0;
			transition: map-get($transition, fast);
			text-align: center;
			border-radius: $border-radius;

			&:disabled {
				background: map-get($color, disabled);
				color: darken(map-get($color, disabled), 25%);
				cursor: not-allowed;
			}
    }

    label {
			display: block;
			text-align: center;
    }
  }
}

.title {
  grid-row: 1;
  grid-column: 1;
	font-size: 6rem;
	font-family: $sans-serif;

}

.timer {
	grid-row: 2;
	grid-column: 1;
	font-family: $monospace;
	font-size: 10rem;
	color: rgba(map-get($color, text), 0.5);
	
	&--current {
		color: map-get($color, text);
		margin-bottom: 1rem;
	}

	&--running {
		transform: scale(1.3);
	}

	
	&__session,
	&__break {
		display: flex;
		transition: map-get($transition, medium);
		padding: 1rem 0;
	}

	&__round {
		font-size: 5rem;

		&-number {
			font-family: $monospace;
			font-weight: 400;
		}
	}
}

.signature {
  grid-row: 3;
  grid-column: 1;
}

.session {
  grid-row: 1;
	grid-column: 2;

	&__wrapper {
		display: flex;
		justify-content: center;
	}
}

.playback {
  grid-row: 2;
  grid-column: 2;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 6rem;
    width: 12rem;
    padding: 2rem;
    border: none;
    outline: 0;
    border-radius: $border-radius;
    
    &-flow {
			margin-bottom: 1rem;
			color: map-get($color, background);
			transition: map-get($transition, fast);
			
			&--start {
				background: map-get($color, start);

				&:hover {
					background: darken(map-get($color, start), 5%);
				}
			}

			&--pause {
				background: map-get($color, pause);

				&:hover {
					background: darken(map-get($color, pause), 5%);
				}
			}
    }

    &-reset {
			color: map-get($color, text);
			background: map-get($color, background);
			transition: map-get($transition, fast);

			&:hover {
				color: darken(map-get($color, text), 5%);
			}

			&--disabled {
				cursor: not-allowed;
				color: map-get($color, disabled);

				&:hover {
					color: map-get($color, disabled);
				}
			}
    }
  }
}

.break {
  grid-row: 3;
  grid-column: 2;
}